{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы</title>
    <meta name="keywords" content="Ключевые слова, и, фразы, через, запятую">
    <meta name="description" content="Описание контента страницы, 1-2 предложения.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleUs.css' %}" type="text/css"/>
</head>
<body>
  <script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{% static 'js\scriptsUs.js '%}"> </script>
  <script src="{% static 'jquery-color-master\jquery.color.js '%}"> </script>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="mainpage"><img src="{% static 'photos/sun.png' %}" width="200" height="80" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="Onas" class="nav-link n onas">О нас</a>
        </li>
        <li class="nav-item active">
          <a href="Uslugi" class="nav-link n uslugi">Услуги</a>
        </li>
        <li class="nav-item active">
          <a href="Kontakti" class="nav-link n kontakti">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="image" style="background-image: url({% static 'photos/fonul.jpg'%} );">
  </div>

  <div>
    <h1 style="text-align: center; margin: 20px; padding: 10px; border-top: 1px solid black; border-bottom: 1px solid black;">Наши услуги</h1>
  </div>
  <div class="context">
    <div class="container">
      <p>Мы предлагаем вам большой спектр услуг по действительно достным ценам, если вас что-то занитересовали заранее свяжитесь с нами через форму обратной связи или через группу ВК! Описание услуг можно найти ниже.</p>
      <table  class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Track out(аренда)</td>
            <td>1500 руб.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Wav leasing</td>
            <td>850 руб.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>MP3 leasing</td>
            <td>500 руб.</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Запись инструментала</td>
            <td>800 руб.</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Написание минусовки</td>
            <td>500 руб.</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Сведение трека</td>
            <td>3000 - 4000 руб.</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Операторская работа</td>
            <td>750 руб.</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Видеомонтаж</td>
            <td>1750 руб.</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Обложка для альбома/трека</td>
            <td>150 руб.</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Дистрибьюция</td>
            <td>1 руб.</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>

  <div class="container" style="margin-bottom: 20px;">
    <p>Leasing(лизинг) - по сути аренда или прокат, т.е. сдача товара получателю по определённым условиям.</p>
    <p>Минусовка - часть трека в которой отсутствует вокал, т.е. просто написание музыки.</p>
    <p>Сведение - процесс правильного расположения и настраивания дорожек, направленный на получение качественного хорошо звучащего трека.</p>
    <p>Операторская работа - процесс съёмки любого видеоматериала, клипа, трейлера и т.п. В этом процессе задейству человек который снимает(оператор), и объект съёмки, т.е. то что снимают.</p>
    <p>Видеомонтаж - компютерная обработка видеоматериала, к примеру, добавление разлчиных аудио или(и) видео эффектов.</p>
    <p>Обложка трека/альбома - конечная стадия написания музыки, создание картинки характеризующей произведение.</p>
    <p>Дистрибьюция - окончательный этап в производстве трека, публикация продукта на различных музыкальных площадках, таких как "Boom", "Яндекс музыка", "Apple music", "Shazam", "Google music", "Deezer".</p>
  </div>

  <div class="footeri">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4"  style="margin-top: 20px;">
        <h3>RDRecords</h3>
        <p>Профессиональная студия звукозаписи RDRecords в Москве — это команда специалистов, в сфере аудио и видео производства имеющаюя богатый опыт работы с клиентами. Мы — команда профессионалов нового поколения, работающая в сфере музыки и PR. Найдём подход к любому клиенту и к любой задаче, поможем, проконсультируем и сделаем, ведь самое главное для нас — достижение цели, поставленной клиентом. </p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3"  style="margin-top: 20px;">
        <h3>Услуги</h3>
        <p>Написание минусовки</p>
        <p>Запись трека</p>
        <p>Запись инструментала</p>
      </div>
      <div class="col-md-3" style="margin-top: 20px;">
        <h3>Контакты</h3>
        <p>Адрес: ул. Багрицкого дом 5</p>
        <p>Почта: rdrecords.sound@gmail.com</p>
        <p>Телефон: 7(977)924-98-94</p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
