

nav {
  opacity: 0.85;
}

.navbar-nav {
  margin-left: 50%;
  font-size: 17pt;
}

.d-block {
  display: block;
  width: 33%;
  margin: 0 auto;
  width: 90%;
}

.carousel{
  margin-bottom: 40px;
  margin-top: 30px;
}

.onasopis {
  height: 10%;
  font-size: 14pt;
  width: 70%;
}

.pluscon {
  margin-right: 13%;
  text-align: right;
}

.plusi {
  height: 527px;
}

.c1 {
   background-color: #fff7f7;
}

.c2 {
  background-color: #e0e0e0;
}

.carousel-caption {
  background-color: #000;
  opacity: 0.8;
}


.imgons {
  border: 2px solid black;
  border-radius: 20px;
}

.footeri {
  background-color: #303030;
  color: #ededed;
}

.slider{
  border-top: 4px solid #666;
  border-bottom: 4px solid #666;
  border-radius: 10px;
}


.n {
  text-decoration: none;
  outline: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165,.84,.44,1);
}
 .n:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165,.84,.44,1);
}
.n:hover {background: rgba(255,255,255,0);}
.n:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}


html {
  overflow-x: hidden;
}
