{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <meta name="keywords" content="Студия звукозаписи, музыка, студия, сведение, мастеринг, запись трека, запись, надежный, надежные услуги, выгодные, выгодные цены,
    обложка, создание обложки, выгодные услуги, хорошее оборудование, leasing">
    <meta name="description" content="RDRecords - отличная студия звукозаписи, по нашим небольшим ценам вы получаете очень хороший результат, у нас работают
    поистине талантливые люди и мы всерьёз занимаемся музыкой. Наша талантливая комманда обладает большим опытом в работе с музыкой, зайдите и убедитесь!">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick\slick.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick\slick-theme.css'%}"/>
</head>
<body>
  <script  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="{% static 'js\scripts.js '%}"> </script>
  <script src="{% static 'jquery-color-master\jquery.color.js '%}"> </script>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="mainpage"><img src="{% static 'photos/sun.png' %}" width="200" height="80" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="Onas" class="nav-link n onas">О нас</a>
        </li>
        <li class="nav-item active">
          <a href="Uslugi" class="nav-link n uslugi">Услуги</a>
        </li>
        <li class="nav-item active">
          <a href="Kontakti" class="nav-link n kontakti">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>


    </ol>
    <div class="carousel-inner car">

      <div class="carousel-item active">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar1.jpg' %}" height="370" alt="Первый слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="backgroundsl">TRACK OUT(аренда)</h3>
          <p class="backgroundsl">1500 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar2.jpg' %}"  height="370" alt="Второй слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="backgroundsl">WAV LEASING(аренда)</h3>
          <p class="backgroundsl">850 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar3.jpg' %}" height="370" alt="Третий слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="backgroundsl">MP3 LEASING(аренда)</h3>
          <p class="backgroundsl">500 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar4.jpg' %}" height="370" alt="Четвертый слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="backgroundsl">Написание минусовка</h3>
          <p class="backgroundsl">От 3000 руб. до 4000 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar5.jpg' %}" height="370" alt="Пятый слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Запись инструментала</h3>
          <p>800 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar6.jpg' %}" height="370" alt="Шестой слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Запись трека(1 час.)</h3>
          <p>500 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar7.jpg' %}" height="370" alt="Седьмой слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Операторская работа</h3>
          <p>750 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar8.jpg' %}" height="370" alt="Восьмой слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Услуги видеомонтажа</h3>
          <p>1750 руб.</p>
        </div>
      </div>

      <div class="carousel-item">
        <a href="Uslugi"><img class="d-block w-90" src="{% static 'photos/tovar9.jpg' %}" height="370" alt="Девятый слайд"></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Создание обложки</h3>
          <p>150 руб.</p>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="c2 formobr" style="border-top: 6px solid black; border-bottom: 6px solid black;" style="position:static;">
  <div class="container" style="height: 300px;">
    <h1 style="text-align: center; margin-top: 15px;">Закажите обратный звонок!</h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <form method="post">
          {% csrf_token %}

          {{ form }}


          <button type="submit"  class="submit">Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="c1 opis" style="height: 440px; margin-top: 30px; margin-bottom: 30px;  border-top: 6px solid black; border-bottom: 6px solid black;">
      <div class="container onasopis">
        <div class="row">
          <div class="col-md-6 OS">
            <h1 style="padding-top: 40px;">О нас</h1>
            <p style="height: 500px; width: 500px;">
              Профессиональная студия звукозаписи RDRecords в Москве — это команда специалистов, в сфере аудио и видео производства
              имеющая богатый опыт работы с клиентами. Мы — команда профессионалов нового поколения, работающая в сфере музыки и PR.
              Найдём подход к любому клиенту и к любой задаче, поможем, проконсультируем и сделаем,
              ведь самое главное для нас — достижение цели, поставленной клиентом.
            </p>
        </div>
        <div class="col-md-6 imgOnas">
          <img src="{% static 'photos\onas.jpg' %}" height="350" width="450" align="right" class="imgons" style="margin-top: 40px; box-shadow: 0 0 14px;">
      </div>
      </div>
      </div>
  </div>

  <div class="c2" style=" margin-bottom: 30px;  border-top: 6px solid black; border-bottom: 6px solid black;">
        <h1 style="text-align: center; line-height: 2.7;" class="h">Наши услуги!</h1>
        <div class="row">
          <div class="col-md-1">
          </div>
            <div class="col-md-5 zv">
              <div class="zvd" style="border: 2px solid #e0e0e0; border-radius: 10px;">
                <h6 style="text-align: right;" class="txt1 p">ЗВУКОЗАПИСЬ</h6>
                <p style="text-align: right;" class="p">Оказываем полный спектр услуг в сфере звукозаписи. Запись вокала , инструментов , многоканальная запись.</p>
            </div>
            </div>
            <div class="col-md-1 uslimg">
              <img src="{% static 'photos\zapis.ico'%}"  height="50" width="50" align="left" >
            </div>
        </div>
        <div class="row">
          <div class="col-xl-5">
          </div>
          <div class="col-md-1 mas">
            <img src="{% static 'photos\svedenie.ico'%}"  height="50" width="50" align="left" style="margin-left: 60px;">
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5 zm sv">
            <div class="zvd2" style="border: 2px solid #e0e0e0; border-radius: 10px;">
              <h6 style="text-align: left;" class="text1 p2">СВЕДЕНИЕ И МАСТЕРИНГ</h6>
              <p style="text-align: left;" class="p2">Осуществляем сведение и мастеринг альбомов и песен качества радио и тв формата.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-5 zv2 ar">
            <div class="zvd3" style="border: 2px solid #e0e0e0; border-radius: 10px;">
              <h6  style="text-align: right;" class="txt2 p3">АРАНЖИРОВКА</h6>
              <p style="text-align: right;" class="p3">Написание музыки - аранжировки по индивидуальному заказу в любых музыкальных направлениях и стилях.</p>
            </div>
          </div>
          <div class="col-md-1 arang">
            <img src="{% static 'photos\arang.ico'%}"  height="50" width="50" align="left">
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-1 kluch">
            <img src="{% static 'photos\kluch.ico'%}"  height="50" width="50" align="left" style="margin-left: 60px;">
          </div>
          <div class="col-md-5 zm2 pk">
            <div class="zvd4" style="border: 2px solid #e0e0e0; border-radius: 10px;">
              <h6 style="text-align: left;" class="text2 p4">ПЕСНЯ ПОД КЛЮЧ</h6>
              <p style="text-align: left;"  class="p4">Полное создание песни, включая все этапы. Аранжировка, текст, запись, сведение, мастеринг, обдожка, дистрибьюция.</p>
            </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 zv3 vd">
          <div class="zvd5" style="border: 2px solid #e0e0e0; border-radius: 10px;">
            <h6 style="text-align: right;" class="txt3 p5">ВИДЕОСЪЁМКА</h6>
            <p style="text-align: right;" class="p5">Съемка музыкальных видеоклипов, и все связанные с этим услуги.</p>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2 cam">
          <img src="{% static 'photos\can.ico'%}"  height="50" width="50" align="left">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-1 dis">
          <img src="{% static 'photos\dis.ico'%}"  height="50" width="50" align="left" style="margin-left: 60px;">
        </div>
        <div class="col-md-5 zm4 ds">
          <div class="zvd6" style="border: 2px solid #e0e0e0; border-radius: 10px;">
            <h6 style="text-align: left;" class="text5 p6">ДИСТРИБЬЮЦИЯ</h6>
            <p style="text-align: left;" class="p6">Последним этапом вашей работы является дистрибьюция, мы поможем разместить ваш трек на большей части музыкальных площадок.</p>
          </div>
      </div>
    </div>
</div>

  <div class="c1 plusi" style=" border-top: 6px solid black; border-bottom: 6px solid black;  margin-bottom: 15px;">
    <div class="pluscon">
      <div class="row">
        <div class="col-md-5">
        <img src="{% static 'photos\mi.jpg'%}" width="500px" height="500px" float="left" style="margin-top: 23px; margin-left: 20px;  box-shadow: 0 0 22px;">
        </div>
        <div class="col-md-7" style="margin-top: 20px;">
          <h1 style="text-align: center; line-height: 2.4;">Наши преимущества</h1>
          <h5 style="text-align: center; line-height: 1.5;">RDRerords - комманда нового поколения, знающяя своё дело!</h5>
          <h5 style="text-align: center;">Комфортная обстановка</h5>
          <p style="text-align: center;">Обратившись к нам будьте уверены в том, что работа в студии будет проходить в комфортной обстановке, с отзывчивой командой.</p>
          <h5  style="text-align:  center;">Оборудование</h5>
          <p  style="text-align:  center ;">Используем мощное, современное оборудование и программное обеспечение.</p>
          <h5 style="text-align:  center;">Широкий набор услуг</h5>
          <p style="text-align:  center;">Обратившись к нам вы можете заказать полный набор услуг, от звукозаписи до видеосъемки</p>
          <h5 style="text-align:  center;">Трудолюбие</h5>
          <p  style="text-align:  center;">Предоставляем свои услуги в любой день недели! У нас нет выходных.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c2" style="height: 410px;  margin-bottom: 15px;  border-top: 6px solid black; border-bottom: 6px solid black;">
      <h1 style="text-align: center;">Отзывы</h1>
      <div class="slider" style="margin-left: auto; margin-right: auto; width: 62%;">
          <div class="otziv-contet">
            <div class="row">
              <div class="col-md-8">
                <h3 style="text-align: left;">Андрей Федоров</h3>
                <p style="text-align: left;">Полностью доволен работой человек реально шарит в том ,что делает. Очень хорошая студия, такая же как люди работающие в ней!</p>
              </div>
              <div class="col-md-4">
                <img src="{% static 'photos\otziv3.jpg'%}" height="300" width="300" class="slimg">
              </div>
            </div>
          </div>
          <div class="otziv-contet">
            <div class="row">
              <div class="col-md-8">
                <h3 style="text-align: left;">Елизавета Антропова</h3>
                <p style="text-align: left;">Все очень хорошо, получила качественный трек. Команда знает как работать, профессионалы своего дела.</p>
              </div>
              <div class="col-md-4">
                <img src="{% static 'photos\otziv2.jpg'%}" height="300" width="300" class="slimg">
              </div>
            </div>
          </div>
      </div>
  </div>

<div class="footeri">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4"  style="margin-top: 20px;">
      <h3>RDRecords</h3>
      <p>Профессиональная студия звукозаписи RDRecords в Москве — это команда специалистов, в сфере аудио и видео производства имеющаюя богатый опыт работы с клиентами. Мы — команда профессионалов нового поколения, работающая в сфере музыки и PR. Найдём подход к любому клиенту и к любой задаче, поможем, проконсультируем и сделаем, ведь самое главное для нас — достижение цели, поставленной клиентом. </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3"  style="margin-top: 20px;">
      <h3>Услуги</h3>
      <a href="Uslugi" style="color: white;"><p>Написание минусовки</p></a>
      <a href="Uslugi" style="color: white;"><p>Запись трека</p></a>
      <a href="Uslugi" style="color: white;"><p>Запись инструментала</p></a>
      <a href="Uslugi" style="color: white;"><p>Операторская работа</p></a>
    </div>
    <div class="col-md-3" style="margin-top: 20px;">
      <h3>Контакты</h3>
      <p>Адрес: ул. Багрицкого дом 5</p>
      <p>Почта: rdrecords.sound@gmail.com</p>
      <p>Телефон: 7(977)924-98-94</p>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'slick\slick.min.js'%}"></script>
</body>
</html>
